# Bonus: Temperature Analysis I

In [27]:
import pandas as pd
from datetime import datetime as dt
import scipy.stats as st

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('./Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
#Check type of date column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  object
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 611.1+ KB

In [4]:
# Convert the date column format from string to datetime
df.date = pd.to_datetime(df.date, infer_datetime_format=True)
df

           station       date  prcp  tobs
0      USC00519397 2010-01-01  0.08    65
1      USC00519397 2010-01-02  0.00    63
2      USC00519397 2010-01-03  0.00    74
3      USC00519397 2010-01-04  0.00    76
4      USC00519397 2010-01-06   NaN    73
...            ...        ...   ...   ...
19545  USC00516128 2017-08-19  0.09    71
19546  USC00516128 2017-08-20   NaN    78
19547  USC00516128 2017-08-21  0.56    76
19548  USC00516128 2017-08-22  0.50    76
19549  USC00516128 2017-08-23  0.45    76

[19550 rows x 4 columns]

In [5]:
#Check type of date column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [6]:
# Set the date column as the DataFrame index
df = df.set_index('date')
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [7]:
# Drop the date column

### Compare June and December data across all years

In [8]:
from scipy import stats

In [21]:
# Filter data for desired months
june_df = df.loc[df.index.month == 6]
december_df = df.loc[df.index.month == 12]

In [22]:
# Identify the average temperature for June
juneavgtemp = june_df['tobs'].mean()
juneavgtemp

74.94411764705882

In [23]:
# Identify the average temperature for December
decemberavgtemp = december_df['tobs'].mean()
decemberavgtemp

71.04152933421226

In [39]:
# Create collections of temperature data

junetemps = pd.Series(june_df['tobs'])
decembertemps = pd.Series(december_df['tobs'])
decembertemps

date
2010-12-01    76
2010-12-03    74
2010-12-04    74
2010-12-06    64
2010-12-07    64
              ..
2016-12-27    71
2016-12-28    71
2016-12-29    69
2016-12-30    65
2016-12-31    65
Name: tobs, Length: 1517, dtype: int64

In [42]:
#drop first 183 rows in junetemps to obtain equal sample sizes (not too kosher)
junetemps2 = junetemps.iloc[183:]

In [43]:
# Run paired t-test
st.ttest_rel(junetemps2,decembertemps)

Ttest_relResult(statistic=31.260481285559145, pvalue=5.498241216335463e-166)

### Analysis

I used paired t-test because we are comparing data from the same weather stations between different times of the year. December temperatures are lower than June temperatures. The means are not that different, but the difference is statistically significant by the paired t-test.